{
    "presets": ["es2015", "env", "stage-1", "react"],
    "plugins": [
        "transform-async-to-generator",
        "transform-decorators-legacy",
        "transform-object-rest-spread",
        "react-hot-loader/babel"
    ]
}
