html,body {
    height: 100%;
}

html,body, .container {
    min-width: 1200px;
}
@media (min-width: 1300px) {
    .container {
        max-width: 1200px;
    }
}
@media (min-width: 1600px) {
    .container {
        max-width: 1400px;
    }
}
.application {
    min-height: 100%;
    position: relative;
}
.application-body {
    padding-bottom: 100px;
}
.footer {
    background-color: #f8f8f8;
    border-top: 1px solid #ccc;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}
.footer a {
    line-height: 50px;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.col-form-label {
    text-align: right;
}
textarea {
    resize: none;
}
.nav.nav-tabs .nav-item {
    cursor: pointer;
}
.splash-screen {
    margin-top: 15em;
}
.splash-screen h1 {
    font-size: 5em;
    text-transform: uppercase;
}
.oi {
    cursor: pointer;
}
.w-85 {
    width: 85% !important;
}
